<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/18c4abf2-d2a2-4f03-a94d-8b308bc8db61/resourceGroups/tynibot/providers/Microsoft.ContainerRegistry/registries/tynibotcontainerregistry</ResourceId>
    <ResourceName>tynibotcontainerregistry</ResourceName>
    <ResourceGroup>tynibot</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <RegistryUrl>https://tynibotcontainerregistry.azurecr.io</RegistryUrl>
    <PublishImageTag>test</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>